div.combobox
	div.combobox-label(v-if="isshowlabel",:style="labelstyle")
		span.required-tip(v-if="isrequired") *
		| {{ labeltext }}:
	div.combobox-body(:style="bodystyle")
		div.combobox-field.form-control(:class="{ 'active': expand }")
			i.fa.fa-search(v-if="isautocomplete")
			input.form-control(v-model="inputText", :readOnly="!isreadonly", @input="@doSearch")
			i.fa( v-if="!isautocomplete", :class="expand ? 'fa-angle-up' : 'fa-angle-down' ", @click="doClick")
		ul(v-show="expand")
			template(v-if="store.length > 0")
				li(v-for="option in store", :value="option[vdisplayvalue]", @mousedown="doSelect(option[vdisplayvalue], $index, option)", :class="selected === $index ? 'selected' : '' "){{{ option[vdisplaytext] }}}
			template(v-else)
				li(v-else) 暂无数据
		